<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>eCross</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="SuggeElson" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="application-name" content="sprFlat admin template" />
        <link rel='stylesheet' type='text/css' 
        <!--[if lt IE 9]>
        <![endif]-->       
        <link href="../assets/css/icons.css" rel="stylesheet" />
        <link href="../assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet" />
        <link href="../assets/css/bootstrap.css" rel="stylesheet" />
        <link href="../assets/css/plugins.css" rel="stylesheet" />
        <link href="../assets/css/main.css" rel="stylesheet" />
        <link href="../assets/css/custom.css" rel="stylesheet" />
        <link rel="icon" href="../assets/img/ico/test.ico" type=""> 
        <meta name="msapplication-TileColor" content="#3399cc" />
        <style>
            .col-md-10{
                padding-top: 7px;
            }
            .form-horizontal{
                margin-bottom: 60px;
            }
        </style>
    </head>
    
    <body>
    
        <div id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <span class="text-slogan" style="padding-left:20px;font-size: 22px">审核店铺详情</span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>

         <div id="content" style="margin: 0 100px;">

            <div class="content-wrapper">
                <div class="outlet">                
                    <div class="row" style="margin-top: 40px;">
                            <div class="col-lg-12">
                                <div class="panel panel-default toggle">                                        
                                    <div class="panel-body">

                                        <div class="page-header" style="margin-top: -10px;">
                                            <h4>联系人信息</h4>
                                        </div>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">联系人姓名</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.sconName}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">手机号码</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.sphone}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">联系方式</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{map[details.sconnectType-1]}} {{details.sconnectWay}}
                                                </div>
                                            </div>
                                                                                                                        
                                        </form>

                                        <div class="page-header" style="margin-top: -10px;">
                                            <h4>店铺信息</h4>
                                        </div>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">店铺描述</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.sdes}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">店铺照片</label>
                                                <div class="col-lg-10 col-md-10">
                                                    <div class="row">
                                                        <div class="gallery">
                                                            <div class="gallery-inner"  v-for='item in details.picture' :key=''>
                                                            
                                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 sea" data-my-order="1">
                                                                    <a href="#" class="thumbnail">
                                                                        <img :src="item" alt="image">
                                                                    </a>
                                                                    <div class="gallery-image-controls" style="left: 100%">
                                                                        <div class="action-btn">
                                                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" :href="item"><i class="ec-search"></i></a>
                                                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" :href="item"><i class="st-download"></i></a>                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>    

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">定位位置</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.sloc}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">具体位置</label>
                                                <div class="col-lg-10 col-md-10">
                                                    {{details.suserWriteLoc}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">店铺标题</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.sname}}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">店铺面积</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.saera}}平方米
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">店铺类型</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.scolumn}}
                                                </div>
                                            </div>    
                                            
                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">转让费</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    ￥{{details.stranMoney}}
                                                </div>
                                            </div>   

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">付款方式</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.spayMethod}}
                                                </div>
                                            </div>   

                                            <div class="form-group" v-if='details.srentMoney != null'>
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">月租金</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.srentMoney}}
                                                </div>
                                            </div> 
                                            
                                            <div class="form-group"  v-if='details.sleftTime != null'>
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">剩余租期</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.sleftTime}}
                                                </div>
                                            </div>  

                                            <div class="form-group" v-if='details.stotalFloor != null'>
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">所有层数</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{mapnum[details.stotalFloor]}}
                                                </div>
                                            </div>  

                                            <div class="form-group" v-if='details.swareHouse != null'>
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">所在层数</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{mapnum[details.swareHouse]}}
                                                </div>
                                            </div>  

                                            <div class="form-group" v-if='details.sstoreStatus != null'>
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">经营状态</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.sstoreStatus}}}
                                                </div>
                                            </div>  

                                            <div class="form-group" v-if='details.swcharge != null'>
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">水费</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.swcharge}}元/月
                                                </div>
                                            </div>  

                                            <div class="form-group" v-if='details.secharge != null'>
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">电费</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.secharge}}元/月
                                                </div>
                                            </div>  

                                            <div class="form-group" v-if='details.sfee != null'>
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">物业费</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    {{details.sfee}}元/月
                                                </div>
                                            </div>  

                                            <div class="form-group">
                                                <label class="col-lg-2 col-md-2 col-sm-12 control-label">其他</label>
                                                <div class="col-lg-10 col-md-10"  v-cloak>
                                                    <span class="label label-teal mr10 mb10" v-for='item in details.stag' v-if='item'>{{item}}</span>                                                 
                                                </div>
                                            </div>                                                                
                                        </form>

                                        <div v-if='type == 1' class="page-header" style="margin-top: -10px;">
                                            <h4 v-cloak>审核</h4>
                                        </div>

                                        <div v-if='type == 1' style="margin: 40px 0px 20px 200px;">
                                            <button class="btn" @click='checkStore(2)'>退回</button>
                                            <input type="button" value="通过" class="btn btn-danger"  @click='checkStore(1)'>                                          
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                    </div>
                
                </div>
            </div>

        </div>

        <!-- Javascripts -->    
        <script>
        window.jQuery || document.write('<script src="../assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
        </script>
        <script src="../assets/js/jquery-ui.js"></script>
        <script>
        window.jQuery || document.write('<script src="../assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
        </script>
        <!-- Bootstrap plugins 个人中心 -->
        <script src="../assets/js/bootstrap/bootstrap.js"></script>
        <!-- cotent 导航 -->
        <script src="../assets/js/jRespond.min.js"></script>
        <script src="../assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>           
        <script src="../assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
        <script src="../assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
        <script src="../assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>     
        <script src="../assets/plugins/forms/icheck/jquery.icheck.js"></script>
        <script src="../assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
        <script src="../assets/plugins/forms/tinymce/tinymce.min.js"></script>
        <script src="../assets/plugins/tables/datatables/jquery.dataTables.min.js"></script>
        <script src="../assets/plugins/tables/datatables/jquery.dataTablesBS3.js"></script>
        <script src="../assets/plugins/tables/datatables/tabletools/ZeroClipboard.js"></script>
        <script src="../assets/plugins/tables/datatables/tabletools/TableTools.js"></script>
        <script src="../assets/plugins/misc/highlight/highlight.pack.js"></script>
        <script src="../assets/plugins/misc/countTo/jquery.countTo.js"></script>
        <script src="../assets/plugins/misc/gallery/jquery.magnific-popup.min.js"></script>
        <script src="../assets/plugins/misc/mixitup/jquery.mixitup.min.js"></script>
        <script src="../assets/js/jquery.sprFlat.js"></script>
        <script src="../plugins/layer/layer.js"></script>
        <script src="../assets/js/app.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../js/vue-resource.js"></script>
        <script src="../js/requestIP.js"></script>
        <script src="../js/shopDetails.js"></script>
    </body>
</html>